# Exercise 5: Data Preparation : Integrasi Data
<hr>

## Perkenalan Pandas
### Apa itu Pandas?
Pandas adalah pustaka Python yang digunakan untuk bekerja dengan kumpulan data.

Pandas memiliki fungsi untuk menganalisis, membersihkan, menjelajahi, dan memanipulasi data.

Nama "Pandas" memiliki referensi ke "Data Panel", dan "Analisis Data Python" dan dibuat oleh Wes McKinney pada tahun 2008.


<center>
    <img src="https://drive.google.com/uc?export=view&id=1sSEJc3q-DC5DmW6Lale_b_B3WXTxJx1-" height='500' width = '800'/>
</center>

### Mengapa Menggunakan Pandas?

Pandas memungkinkan kita untuk menganalisis data besar dan membuat kesimpulan berdasarkan teori statistik.

Pandas dapat membersihkan kumpulan data yang 'berantakan', dan membuatnya dapat dibaca dan relevan.

Data yang relevan sangat penting dalam ilmu data.

## Permulaan menggunakan Pandas

### Instalasi Pandas menggunakan Anaconda

1. Buka Anaconda Navigator dari *windows start* atau *search box*.

<center>
    <img src="https://drive.google.com/uc?export=view&id=1yEu1pT5p_BvXHzwdMa373VCNbUeE0-1H" />
</center>

2. Membuat *Anaconda Environment* [ OPTIONAL ]

This is optional but recommended to create an environment before you proceed. This gives complete segregation of different package installs for different projects you would be working on. If you already have an environment, you can use it too.

Hal ini opsional untuk dilakukan, tetapi disarankan untuk membuat *environment python*. Hal ini berfungsi untuk mengisolasi ruang kerja kita dengan menggunakan versi pustaka Python yang berbeda untuk setiap proyek Python yang akan dikerjakan.

<center>
    <img src="https://drive.google.com/uc?export=view&id=1fUDHXKADZ4bI8l76kSFFweQEplAYOKW9" />
</center>

3. Buka Terminal Anaconda

Buka terminal Anaconda dari Anaconda Navigator lalu <b>klik kanan</b> pada *environment* yang telah dipilih


<center>
    <img src="https://drive.google.com/uc?export=view&id=1I2HWVhAH1RW-GBGIlPJ4k-an-9qAOJEm" />
</center>

4. Instalasi Pandas menggunakan command prompt / conda

Sekarang masukkan <code>pip install pandas</code> atau <code>conda install pandas</code> untuk menginstal Pandas di lingkungan Anda.



<center>
    <img src="https://drive.google.com/uc?export=view&id=15SBqPe3aHShrPlCgzMKHp-X7HqdIHp7c" />
</center>

- Kita juga dapat menginstal Library menggunakan kode inline di <code>cell</code> kita menggunakan <code>pip install</code>

In [ ]:
# inline style installing:
# !pip install pandas

- Melakukan pengecekkan untuk versi Pandas yang digunakan

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

# Contoh Case
<hr>

Dalam latihan ini, kita akan menggabungkan rincian siswa dari dua dataset, yaitu student.csv dan marks.csv. Dataset student.csv berisi kolom; Age , Gender , Grade , dan Employed. Dataset marks.csv berisi kolom; Mark dan City. Kemudian tambahkan kolom Student_id setelah penggabungan dataset.

- Dataset student.csv dapat ditemukan di lokasi ini: https://github.com/TrainingByPackt/Data-Science-with-Python/blob/master/Chapter01/Data/student.csv

- Dataset marks.csv dapat ditemukan di lokasi ini: https://github.com/TrainingByPackt/Data-Science-with-Python/blob/master/Chapter01/Data/mark.csv

### 1. Import pandas library

impor library pandas dan diberi alias pd, untuk memudahkan pemanggilan operasi library :

In [ ]:
import pandas as pd

### 2. Load dataset dari URL

buat variabel dataset untuk menampung link dataset :

In [ ]:
dataset1 = "https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/student.csv"
dataset2 = "https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/mark.csv"

baca dataset csv dengan function _.read_csv()_ dari library pandas, kemudian ditampung kedalam variabel dataframe df :

In [ ]:
df1 = pd.read_csv(dataset1)
df2 = pd.read_csv(dataset2)

### 3. View/open dataset

Untuk mencetak lima baris pertama dari DataFrame, gunakan function _.head()_ dari library pandas:

In [ ]:
df1.head()

   Student_id  Age  Gender      Grade Employed
0           1   19    Male  1st Class      yes
1           2   20  Female  2nd Class       no
2           3   18    Male  1st Class       no
3           4   21  Female  2nd Class       no
4           5   19    Male  1st Class       no

In [ ]:
df2.head()

   Student_id  Mark     City
0           1    95  Chennai
1           2    70    Delhi
2           3    98   Mumbai
3           4    75     Pune
4           5    89    Kochi

### Latihan 1 : 
Cetak lima baris terakhir dari DataFrame __df1__ memanfaatkan function dari library pandas!

In [ ]:
# Jawab disini

### 4. Data Integration

Student_id adalah primary untuk kedua dataset. Lakukan integrasi data pada kedua DataFrames sehubungan dengan kolom Student_id menggunakan function _pd.merge()_ dari library pandas, yang ditampung dalam variabel df.

In [ ]:
df = pd.merge(df1, df2, on = 'Student_id')

menampilkan hasil integrasi data :

In [ ]:
df

     Student_id  Age  Gender      Grade Employed  Mark     City
0             1   19    Male  1st Class      yes    95  Chennai
1             2   20  Female  2nd Class       no    70    Delhi
2             3   18    Male  1st Class       no    98   Mumbai
3             4   21  Female  2nd Class       no    75     Pune
4             5   19    Male  1st Class       no    89    Kochi
..          ...  ...     ...        ...      ...   ...      ...
227         228   21  Female  1st Class       no    99     Pune
228         229   20    Male  2nd Class       no    70  Chennai
229         230   20    Male  3rd Class      yes    55    Delhi
230         231   19  Female  1st Class      yes    97   Mumbai
231         232   20    Male  3rd Class      yes    59     Pune

[232 rows x 7 columns]

### Latihan 2 : 
Cetak 15 baris pertama dari DataFrame __df__ memanfaatkan function dari library pandas!

In [ ]:
# Jawab disini

## Contoh Case Selanjutnya
<hr>

Dataset yang akan digunakan untuk case ini adalah dataset penjualan
<a href="https://github.com/minoguep/pandas_blog_example/blob/master/data/input_data/superstore.xls?raw=true">superstore</a>. Dataset ini berisi informasi tentang penjualan yang dilakukan oleh gerai ritel fiktif di AS. Dataset disediakan dalam format .xls dan data tersebar di tiga sheet berbeda:

- Orders: Ini adalah tabel utama dalam dataset dan berisi informasi untuk setiap pesanan seperti id pesanan, lokasi toko, jumlah, dan keuntungan.

- Returns: Tabel ini berisi daftar id pesanan yang telah dikembalikan.

- People: Tabel ini berisi nama manajer regional untuk setiap wilayah yang terdapat dalam tabel pesanan.

### 1. Load and Open dataset

Untuk dapat load dan open file dataset ber format excel, Format file Excel kita perlu mendefinisikan mesin/engine secara manual menggunakan 'xlrd'. Langkah selanjutnya install library xlrd :

In [ ]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

baca dataset xls dengan function _.read_csv()_ dari library pandas, kemudian ditampung kedalam variabel dataframe masing - masing sheet :

In [ ]:
# dataset data yang berisi beberapa informasi tentang pesanan/penjualan dari toko
orders = pd.read_excel('superstore.xls', sheet_name='Orders', engine='xlrd')
# dataset berisi informasi tentang pesanan yang dikembalikan
returns = pd.read_excel('superstore.xls', sheet_name='Returns', engine='xlrd')
# dataset berisi informasi tentang manajer untuk setiap wilayah dalam kumpulan data pesanan
people = pd.read_excel('superstore.xls', sheet_name='People', engine='xlrd')

Lihat DataFrames :

In [ ]:
orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
returns.head()

  Returned        Order ID
0      Yes  CA-2017-153822
1      Yes  CA-2017-129707
2      Yes  CA-2014-152345
3      Yes  CA-2015-156440
4      Yes  US-2017-155999

In [ ]:
people.head()

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

### 2. Merge / Integrasi Data

Setelah kita melihat Dataset diatas, kita akan melihat bahwa tabel pesanan/orders berbagi bidang yang sama dengan tabel pengembalian/returns (Order ID) dan orang/people (Region). Hubungan ini berarti bahwa kita dapat mengintegrasikan tiga sumber data menjadi satu tabel "master" menggunakan merging.

Pandas dapat melakukan integrasi data menjadi sangat sederhana melalui function _merge()_. Hal ini memungkinkan kita untuk menggabungkan dua tabel/data menggunakan dua atau lebih kolom dan menentukan jenis gabungan (dalam/inner, kiri/left, kanan/right, luar/outer) yang ingin kita gunakan.

In [ ]:
merged_df = (orders.merge(returns, how='left', on='Order ID')
            .merge(people, on='Region'))

In [ ]:
merged_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Returned,Person
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,NaN,Cassandra Brandow
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,NaN,Cassandra Brandow
2,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,NaN,Cassandra Brandow
3,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,NaN,Cassandra Brandow
4,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432,NaN,Cassandra Brandow

Kode di atas menunjukkan bagaimana akan mengintegrasikan tiga sumber data kita menjadi satu tabel master "merged_df". Beberapa poin penting yang perlu diperhatikan :

1. Dataset yang diterapkan metode _.merge()_ (orders dalam kasus ini) dianggap sebagai tabel kiri dalam gabungan sementara dataset di dalam tanda kurung (returns dan people dalam kasus ini) dianggap sebagai yang benar.

2. Kita dapat melakukan kedua gabungan dalam satu baris hanya dengan merantaikan .merge()operasi bersama-sama.

3. Secara default, metode penggabungan membentuk gabungan dalam. Namun karena tabel returns hanya berisi informasi tentang pesanan yang dikembalikan, gabungan bagian dalam di sini berarti bahwa kita akan kehilangan semua pesanan yang tidak dikembalikan dari dataset pesanan/orders. Sebagai hasilnya, kita harus menentukan untuk menggunakan gabungan kiri/left. Karena kita tahu bahwa semua wilayah dalam dataset pesanan/orders muncul di dataset people. Berikut penjelasan secara visual :


<center>
    <img src="https://paulminogue.com/images/a4d80b5-26da-4dff-8e3d-b888102e68a2_image_4.png" width="1000"/>
</center>

### Latihan 3 : 
Cetak kolom 'City' pada dataset merged_df

In [ ]:
# Jawab disini

### Latihan 4 : 
Cetak multiple kolom, yaitu kolom 'Customer Name', 'Segment', 'Country'.

In [ ]:
# Jawab disini

### Latihan 5 : 
Cetak nilai rata-rata dari kolom 'Sales' pada dataset merged_df, menggunakan function _mean()_

In [ ]:
# Jawab disini

# Pengambilan Data dari API Kaggle
---
Salah satu portal yang menyediakan dataset untuk project Data Science adalah Kaggle (https://www.kaggle.com/).
Pada latihan ini, silakan peserta mengunduh dataset mengenai bunga Iris dengan menggunakan kata kunci: "iris species" yang disediakan oleh UCI Machine Learning (UCIML)

**1. Install Modul kaggle:**

In [ ]:
# Install modul kaggle secara inline (di dalam notebook)
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\user\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2020.12.5)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.26.4)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.59.0)
Requirement already satisfied: python-slugify in c:\users\user\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.25.1)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\user\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (4.0.0)

Install modul kaggle secara eksternal melalui anaconda prompt:

<center>
<img src="https://drive.google.com/uc?export=view&id=1GazgsCpeUthpdVzZVcNWgLlncWBGSKo4"/>
</center>

**2. Create Token API kaggle:**

<center>
  <img src="https://drive.google.com/uc?export=view&id=1s0FYBkutrwS8Llgrv2U0IMGTboCyOJBA"
</center>

1. Login Kaggle.com 
2. Kemudian pada menu Profile --> Account
3. Klik Create New Api Token 
4. Maka akan terdownload file kaggle.json

<center>
<img src="https://drive.google.com/uc?export=view&id=1T0tri2wUfwRdeJb0a766QMezVf7neY8L"/>
</center>

Kaggle API secara default mengasumsikan bahwa file kaggle.json tersebut berada di dalam folder: 
* ~/.kaggle/ (Linux/Mac)  
* C:\Users\<Windows-username>\.kaggle\ (Windows)

Jika folder tersebut belum ada:
1. Buat folder di direktori C:\Users\<Windows-username>\.kaggle\
2. letakkan file kaggle.json kedalam folder tersebut

**3. Download Dataset dari Kaggle:**

<center>
<img src="https://drive.google.com/uc?export=view&id=11XZkQjk1_lZ_ZLncbJiLE81oDWn9nUNp"/>
</center>





<div class="text-center">
    Dokumentasi Kaggle Commands selengkapnya <a href="https://github.com/Kaggle/kaggle-api#datasets">Disini</a>
</div>

In [ ]:
# Mencari dataset yang tersedia di kaggle --> pilih dataset iris dengan provider dari UCIML
!kaggle datasets list -s "iris"

ref                                                     title                                           size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------  ---------  ---------------
uciml/iris                                              Iris Species                                     4KB  2016-09-27 07:38:05         223702       2661  0.7941176
arshid/iris-flower-dataset                              Iris Flower Dataset                            1010B  2018-03-22 15:18:06          40271        367  0.8235294
vikrishnan/iris-dataset                                 Iris Dataset                                    999B  2017-08-03 16:00:44           2889         26  0.7647059
therohk/ireland-historical-news                         Irish Times - Waxy-Wany News                    52MB  2021-09-25 10:52:48           2977        157  1.0
chuckyin/iris-datasets                                  Iris datasets                                    1KB  2017-03-10 09:35:43           1756         14  0.7352941
rtatman/iris-dataset-json-version                       Iris Dataset (JSON Version)                      1KB  2018-04-06 20:21:31           5605         43  0.75
parulpandey/palmer-archipelago-antarctica-penguin-data  Palmer Archipelago (Antarctica) penguin data    11KB  2020-06-09 10:14:54           9850        114  0.9705882
conorrot/irish-weather-hourly-data                      Irish Weather (hourly data)                     67MB  2020-06-29 20:15:18           1852         40  0.8235294
saurabh00007/iriscsv                                    Iris.csv                                         1KB  2017-11-09 07:34:35          16998         57  0.4117647
fleanend/birds-songs-numeric-dataset                    Birds' Songs Numeric Dataset                    25MB  2019-04-01 09:09:46            703         25  0.9411765
kamrankausar/iris-data                                  iris_data                                        1KB  2017-11-30 10:26:01           1101         13  0.64705884
jeffheaton/iris-computer-vision                         Iris Computer Vision                             5MB  2020-11-24 21:23:29            303          9  0.875
styven/iris-dataset                                     Iris dataset                                     1KB  2017-11-04 14:10:12            786          8  0.29411766
arslanali4343/iris-species                              Iris Species                                     2KB  2020-07-02 06:09:09             48         13  0.5625
olgabelitskaya/flower-color-images                      Flower Color Images                             50MB  2020-10-01 22:48:07           8333        161  0.75
naureenmohammad/mmu-iris-dataset                        MMU iris dataset                                30MB  2020-07-25 18:38:33            639         19  0.5625
rutujavaidya/iris-dataset                               Iris Dataset                                     1KB  2021-07-25 17:37:14             31          6  0.4117647
shantanuss/iris-flower-dataset                          IRIS flower dataset                              1KB  2020-01-18 19:43:18            190          3  0.9411765
ashishs0ni/iris-dataset                                 Iris_dataset                                     1KB  2018-08-05 14:26:19            584          7  0.64705884
jodx666/iris-is                                         IRIS is                                         981B  2018-02-16 09:11:35            339          6  0.3125

In [ ]:
# Download dan ekstrak dataset, secara default akan berada dalam satu direktori dengan notebook ini
!kaggle datasets download uciml/iris --unzip

## Memuat Data
---

In [ ]:
# load dataset
dataset_kaggle = "Iris.csv"
df3 = pd.read_csv(dataset_kaggle)

In [ ]:
# menampilkan 10 baris awal dari dataset
df3.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

<hr>

## Mengunduh data dari Google Drive

dokumentasi lebih lanjut untuk <a href='https://github.com/wkentaro/gdown'>gdown</a>


<center>
    <img src="https://drive.google.com/uc?export=view&id=1Z70FugVY0UO8MInM3auxttTKiEIQE5ZI" />
</center>

In [ ]:
# instalasi library gdown
!pip install gdown

In [ ]:
# Pastikan untuk menginstal pustaka GDOWN terlebih dahulu di Sistem Anda
import gdown
#!gdown [id]
!gdown 1WZbWFcfo5f1bqRkAfniDYh4CTWz4OhQC

Downloading...
From: https://drive.google.com/uc?id=1WZbWFcfo5f1bqRkAfniDYh4CTWz4OhQC
To: /home/user34/Sesi 2/Tourism marketing study dataset.csv.zip
100%|██████████████████████████████████████| 3.65M/3.65M [00:00<00:00, 10.4MB/s]

Unzipping the File

In [ ]:
import shutil
# Ubah PATH untuk dengan Direktori Anda sendiri
path = 'Tourism marketing study dataset.csv.zip'
shutil.unpack_archive(path)